[submodule "pi"]
	path = pi
	url = https://github.com/later-3/pi.git
	branch = codex/later-custom
[submodule "frontend"]
	path = frontend
	url = https://github.com/later-3/chat-frontend.git
	branch = main
